@import '../../variables.scss';

.btn_container {
    .btn {
        font-size: inherit !important;
        margin: 0 !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .btn-primary {
        background: $primary-color;
        border-color: $primary-color;
        color: rgb(255, 255, 255);

        &:hover {
            background: rgb(3, 81, 170) !important;
            // color: rgb(0, 0, 0);
            border: 1px solid transparent;
        }
    }

    .btn-orange {
        background: $orange-bg-color;
        border-color:$orange-bg-color;
        color: rgb(65, 60, 60);

        &:hover {
            background: rgb(3, 145, 170) !important;
            // color: rgb(0, 0, 0);
            border: 1px solid transparent;
        }
    }

    .btn-secondary {
        background: $secondary-color;
        border-color: $secondary-color;

        &:hover {
            background: $secondary-hover-color !important;
        }
    }


}
