.dashboard_container{
    .chart_img{
        margin-top: 20px;
        filter: grayscale(65%);
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
        height: 300px !important;
        width: 570px;

    }
}
