@import '../../../variables.scss';

.dashboard_layout_container {


    .header {
        background-color: white;
        height: 60px;
        display: flex;
        align-items: center;
        color: #000000 !important;
        padding: 0px 20px;
        margin-bottom: 10px !important;
    }
}
