@import '../../variables.scss';


.sidebar_container {
    background-color: #e5f0ff;
    min-height: 100vh;
    width: 15%;
    padding: 20px 0px 0px 10px;
    margin-top: 0% !important;
    color: #000 !important;

    ul {
        display: flex;
        flex-direction: column;
        padding: 0%;
        width: 100%;
        gap: 5px;
        // position: relative;

        .nav-link {
            list-style: none;
            // background-color: #c9c9c921;
            color: #000000 !important;
            padding: 10px;
            cursor: pointer;
            border-radius: 20px 0px 0px 20px;
            position: relative;
            // margin: 0px 3px;

            &:hover,
            &.active {
                background-color: white;
                color: #000000 !important;
            }
        }

        .icon {
            font-size: 20px;
        }
    }
}
