@import '../../variables.scss';


.sidebar_container {
    background-color: $primary-color;
    height: 100vh;
    width: 15%;
    padding: 20px 10px;

    ul {

        display: flex;
        flex-direction: column;
        padding: 0%;
        width: 100%;
        gap: 10px;

        .nav-link {
            list-style: none;
            background-color: #30294521;
            color: white;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;


            &:hover,
            &.active {
                background-color: $primary-hover-color;

            }

        }
        .icon{
            font-size: 20px;
        }
    }
}
